# Local database
payments.db

# Dependencies
vendor

# Truelayer configuration file
infra/config/truelayer/config.json

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
